.checkout-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5rem;
}
.login-prompt {
  background: #e8f0f2;
  padding: 1rem 2rem;
}

.login-prompt p {
  font-size: 1.3rem;
}
.login-prompt p span {
  color: #ffba00;
  font-weight: 500;
}
