.hamburger-icon {
  display: none;
}
@media (max-width: 675px) {
  .hamburger-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, -75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
